/*
Theme Name: Tiny
Description: Blogging Clean, Responsive and Modern Free Theme.

Author: Caslay Family
Theme URI: http://Caslay.com/tiny
Author URI: http://caslay.com
Version: 1.0

Tags: green, gray, white, black, blue, orange, one-column, flexible-width, custom-menu, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options
Text Domain: tiny_theme

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

TinyPress WordPress Theme, Copyright (C) 2003-2013 Caslay Family

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Theme uses the following resources

Font Awesome - ​http://fortawesome.github.io/Font-Awesome/
License: Font Awesome is fully open source and is GPL compatible
Copyright: Dave Gandy, https://twitter.com/davegandy


Detect Mobile Browser - ​http://detectmobilebrowsers.com/
License: This is free and unencumbered software released into the public domain.
Copyright: Chad Smith, https://twitter.com/chadsmith

Bootstrap - ​http://twitter.github.io/bootstrap/
License: Bootstrap is released under the Apache 2 license and is copyright 2013 Twitter
Copyright: @mdo - @fat, https://twitter.com/fat - https://twitter.com/mdo

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html, * html body {
	margin-top:0 !important;
}

body {
	font-family:"Noto Sans",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:20px;
	color:#555;
	background-color:#f8f8f8;﻿
}

.container {
	width:auto;
	max-width:800px;
	margin:0 auto;
	clear:both;
	padding:0 25px;
}

.container:after, .full-row:after {
    clear: both;
}

.container:before, .container:after, 
.full-row:before, .full-row:after {
    content: "";
    display: table;
    line-height: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	font-family:"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1, h2, h3 {
  line-height: 22px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 16px;
}
article h3 {
  font-size: 19px;
  line-height: 24px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

p {
	margin-bottom:10px;
}

/* Typography */

article p, article img, article ul, article ol, article code, 
article .img-caption, .video-holder {
	margin-bottom:40px;
}

article ul, article ol {
	margin-left:30px;
}

article li, article li {
	margin-bottom:5px;
}

article small {
	font-size:14px;
}

article a, article h2 a:hover {
	color:#E45635;
}

article h2 a {
	color:#222;
	text-decoration:none;
}

article img {
	max-width:100%;
	height:auto;
}

article img.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

article img.round {
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
}

article img.bordered {
	border:4px solid rgba(0,0,0,0.1);
}

.center, .align-center {
	text-align:center;
}

.align-left {
	text-align:left;
}

.align-right {
	text-align:right;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
	float:right;
    margin-left: 20px;
}

article p code {
    padding: 10px;
	margin: 20px 0 0 0;
	display:block;
	font-size: 14px;
    line-height: 18px;
    color:#7d7d7d;
	border: 1px solid #DEDEDE;
    border-radius: 5px 5px 5px 5px;
}

article .wp-caption {
	max-width:100%;
}

article .wp-caption img, article .img-caption img, .gallery-icon img  {
	margin-bottom:5px;
}

.wp-caption-text, .gallery-caption  {
	font-size:14px;
	line-height:20px;
	opacity:0.5;
	display:block;
	clear:both;
}

article .img-caption figure {
	font-size:14px;
	line-height:20px;
	opacity:0.5;
	display:block;
	clear:both;
    text-align:right;
}
div.relPosts
{
    margin:10px 5px;
    padding:0 10px;
}
    div.relPosts h4
    {
        padding:10px;
    }
    div.relPosts ul
    {
        list-style:none;
    }
        div.relPosts ul li
        {

        }
            div.relPosts ul li a
            {
                text-decoration:none;
                color:#636363;
                font-size:16px;
            }
                div.relPosts ul li a:hover
                {
                    text-decoration:underline;
                }
#gallery-1 .gallery-item {
	margin-top:20px;
}

.alignright {
    text-align:right;
}

.alignleft {
    text-align:left;
}

.aligncenter {
    text-align:center;
}

article .dropcap {
    margin-right: 10px;
    float:left;
    font-size: 54px;
    line-height: 52px;
    font-weight: bold;
}

article.empty {
	margin:0;
}

article ul.custom {
	list-style:none;
}

article ul.custom i {
	margin-right:15px;
}

article .quote {
	padding:0 30px;
	font-size:22px;
	line-height:36px;
	font-family:Georgia;
}

article .quote i {
	font-size:36px;
}

article .quote i.icon-quote-left {
	margin-right:15px;
}

article .quote i.icon-quote-right {
	margin-left:15px;
	float:right;
}

.video-holder {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-holder iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

span.clear {
	display:block;
	clear:both;
	height:5px;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.1);
	margin-bottom:40px;
}

/* Buttons */

.btn {
	padding:15px 30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	background-color:#E45635;
	color:#fff;
	margin:0 5px 5px 0;
	text-decoration:none;
	display:inline-block;
}

.btn.big {
	padding:25px 45px;
}

.btn.small {
	padding:5px 10px;
}

.btn:hover {
	opacity:0.9;
}

.btn:active, .btn:focus {
	opacity:1;
}

/* toggles */

.toggles {
	margin-bottom:40px;
}

.toggles h4 {
	display:block;
	cursor:pointer;
	padding:20px;
	font-size:18px;
	font-weight:normal;
	background:#f3f3f3;
}

.toggles .toggle-content {
	display:none;
	clear:both;
	overflow:hidden;
	padding:20px;
}

.toggles h4.active {
	margin-bottom:0;
	background:#e3e3e3;
}

.toggles h4.active + .toggle-content {
	border:1px solid #e3e3e3;
}

.toggles h4 i {
	float:right;
	font-size:28px;
	line-height:16px;
	color:#858585;
}

/* Top */

#top {
	height:100px;
	background-color:rgba(255,255,255,0.98);
	width:100%;
	position:fixed;
	z-index:999;
	transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}

#top .container {
	height:100%;
}

#top a, #top a span {
	transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}

#top a {
	font-size:36px;
	line-height:78px;
	color:#000000;
	text-decoration:none;
	text-rendering: optimizelegibility;
}

#top a.logo {
	float:left;
	font-family:"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	height:100%;
	display:inline-block;
}

#top a.logo img {
	display:inline-block;
	vertical-align:middle;
	max-height:90%;
	width:auto;
}

#top a.logo span {
	font-size:60px;
}

#top a.menu-btn {
    height: 40px;
    width: 40px;
    margin-top: 30px;
	display: block;
    float: right;
    line-height: 36px;
    text-align: right;
}

#top.tiny {
	height:50px;
}

#top.tiny a.menu-btn {
    height: 40px;
    margin-top: 5px;
}

#top.tiny a {
    font-size: 26px;
    line-height: 40px;
}

#top.tiny a span {
    font-size: 40px;
}

/* header */ 

header {
	padding:12px 50px;
	border-bottom:1px solid #dedede;
	box-shadow:0 1px 0 #fff;
}

header.header-404 {
	border-bottom:0 none;
	box-shadow:0 0 0 #fff;
}

header h1 {
	font-size:172px;
	line-height:182px;
	margin-bottom:0;
	text-indent: -10px;
	color:#222;
	font-family:"Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header p {
	font-size:24px;
	line-height:32px;
	clear:both;
}

article {
	padding:50px;
	border-bottom:1px solid #dedede;
	box-shadow:0 1px 0 #fff;
}

/* Posts */

.posts article h2 {
	font-weight:normal;
}

.posts article p {
	font-size:16px;
	line-height:26px;
	margin-bottom:0;
}

.post article {
	font-size:16px;
	line-height:26px;
}

article.sticky h2 a {
	margin-right: 10px;
}

article.sticky h2 span {
    padding: 5px 10px;
	display: inline-block;
    vertical-align: middle;
	font-size:12px;
	line-height:12px;
	border-radius:5px;
	color:#fff;
	background-color:#E45635;
}

.post article p:last-child {
	margin-bottom:0;
}

/* Post Title */

header.title h2 {
	font-size:30px;
	line-height:40px;
	clear:both;
}

header.title .back-to-blog {
	padding:10px 20px;
	margin-bottom: 30px;
	display:block;
	float:left;
	clear:both;
	background-color:#fff;
	color:#222;
	text-decoration:none;
}

header.title .back-to-blog i {
	margin-right:5px;
}

header.title p {
	font-size:14px;
	line-height:24px;
	clear:both;
	color:#7c7c7c;
	margin-bottom:0;
}

header.title p a, .logged-in-as a, .share a:hover {
	color:#E45635;
}

header.title p span {
	margin-right:5px;
}

/* Share */

.share {
	padding:30px 0;
	border-bottom:1px solid #dedede;
	box-shadow:0 1px 0 #fff;
	font-size:20px;
}

.share ul {
	list-style:none;
	width:100%;
	text-align:center;
}

.share li {
	display:inline-block;
	padding:0 30px;
}

.share a {
	color:#222;
	text-decoration:none;
	display:block;
	width:25px;
	height:25px;
}

/* Comments */

.comments {
	padding: 50px 50px 0 50px;
	overflow:hidden;
}

.comments ul {
	list-style:none;
}

.comments h2 {
	font-size:36px;
	margin-bottom:40px;
	font-weight:normal;
}

.comments h2 i {
	margin-left:-50px;
	margin-right:13px;
}

.comment {
	margin:10px 0;
}

.comment_content {
	padding:30px;
	overflow: hidden;
	border:1px solid #eee;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

.comment h3 {
	font-size:22px;
	line-height:22px;
	margin-bottom:5px;
	margin-top:0;
	font-weight:normal;
}

.comment a {
	text-decoration:none;
	color:#E45635;
}

.comment p.waiting_approve {
	color:#C9B;
}

.comment h3 span {
	font-size:12px;
	line-height:18px;
	color:#bbbbbb !important;
}

.comment p {
	font-size:14px;
	line-height:20px;
	margin-bottom:10px;
}

.comment .comment-reply-link {
	display:block;
	float:left;
	clear:both;
	padding:5px 10px;
	color:#999;
	border:1px solid #e8e8e8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

.comment .comment {
	clear:both;
	overflow:hidden;
	padding-left:50px;
}

.comment .comment-content + .comment {
	margin-top:20px;
}

.comment .comment:last-of-type {
	margin-bottom:0;
}

.comment.reader-comment .comment.bypostauthor .comment_content:first-of-type,
.comment.bypostauthor .comment_content:first-of-type {
	background-color:#F3F3F3;
}

.comment.reader-comment .comment_content:first-of-type {
	background-color:transparent;
}

#respond + .comment {
	margin-top:20px;
}

.comment-form {
	padding:25px 0 0 30px;
}

.contact-form {
	padding:50px;
}

.contact-form h3 {
	margin:0 0 30px 0;
}

.comment-form h3 {
	margin-bottom:0;
}

.comment-form p, .contact-form div {
	width:100%;
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
}

.comment-form p.comment-notes {
	margin-bottom:30px;
	color:#7a7a7a;
	font-size:14px;
}

.comment-form label, .contact-form label {
	width:25%;
	float:left;
	text-align:right;
	margin-right:2%;
	padding-top:1.5%;
}

.comment-form input, .contact-form input {
	width:69.3%;
	height:20px;
	float:left;
}

.comment-form textarea, .contact-form textarea {
	width:96.5%;
	height:200px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}

.comment-form input, .comment-form textarea, 
.contact-form input, .contact-form textarea {
	padding:1.5%;
	background-color:transparent;
	border:1px solid #d8d8D8;
	color:#999;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	outline: 0;
}

.comment-form input:focus, .comment-form textarea:focus,
.contact-form input:focus, .contact-form textarea:focus {
	color:#222;
	background-color:#fff;
	border:1px solid #d8d8D8;
}

.comment-form .form-allowed-tags {
	color:#7a7a7a;
	font-size:14px;
	margin-bottom:15px;
}

.comment-form .comment-form-comment label {
	display:none;
}

.comment-form input#submit, .contact-form input.submit {
	width:auto;
	min-width:100px;
	height:40px;
	background-color:#222;
	color:#fff;
	padding:0 20px;
	border:0 none;
	text-align:center;
	float:inherit;
	cursor:pointer;
}

.comment #respond {
	margin-top:0;
}

.comment .comment-form {
	padding:10px 0 0 50px;
}

.depth-1 + #respond .comment-form {
	padding-top:0;
}

#respond + .comment {
	padding-top:10px;
}

#respond .pagination {
	margin:0;
}

#cancel-comment-reply-link {
	display: inline-block;
	text-decoration:none;
	margin-left:5px;
	padding: 10px;
	color:#E45635;
	border: 1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

.comment-form label.error, .contact-form label.error {
	margin-left:28.5%;
	width:auto;
	font-size:12px;
}

.comment-form textarea + label.error, .contact-form textarea + label.error {
	margin: 0;
	padding: 0 0 20px 0;
	width: 100%;
	display: block;
	clear: both;
	text-align: left;
}

/* Contact */

.social-links {
	padding:50px;
	font-size:20px;
	overflow:hidden;
	text-align:center;
	border-bottom: 1px solid #DEDEDE;
    box-shadow: 0 1px 0 #FFFFFF;
}

.social-links a {
	width:auto;
	margin-right:2%;
	margin-bottom:10px;
	padding:15px 20px;
	display:inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-size:18px;
	color:#222;
	text-decoration:none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	background-color:#fff;
}

.social-links a:last-child {
	margin-right:0;
}

.social-links a i {
	font-size:24px;
	width: 24px;
	display: inline-block;
}

/*.social-links .facebook {
	background-color:#3c5b9b;
}

.social-links .twitter {
	background-color:#2daae1;
}

.social-links .google {
	background-color:#f63e28;
}

.social-links .linkedin {
	background-color:#0173b2;
}*/

/* Main menu */

html, body, #main-menu { 
	height: 100%; 
}

#main-menu, #content {
	width:100%;
	transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	-o-transition:0.2s;
}

#content {
	background:#f8f8f8;
	padding:100px 0;
}

#main-menu {
	min-height:100%;
	height: auto; 
	margin:0;
	display:none;
	background-color:#2f2f2f;
}

#main-menu .container {
	padding-top:120px;
	padding-bottom:70px;
}

.menu-opened #main-menu {
	display:block;
}

.menu-opened section {
	display:none;
}

#content.active {
	height:100px  !important;
}

.panel-btn {
	height:80px;
	width:40px;
	display:block;
	position:fixed;
	margin-top:-50px;
	top:50%;
	left:0;
	z-index: 999;
	font-size:30px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background-color:#4abdaf;
}

.panel-btn i {
	display: inline-block;
    margin-top: 22px;
}

/* pagination */

.pagination {
	margin:30px 0 50px 50px;
}

.pagination span, .pagination a {
	display:inline-block;
	min-width:15px;
	padding:3px 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-align:center;
	margin-right:5px;
}

.pagination a {
	color:#fff;
	background-color:#222;
	text-decoration:none;
	border:0 none;
}

.pagination a:hover, .social-links a:hover {
	color:#fff;
	background-color:#E45635;
}

.pagination span, .pagination span.current {
	border:1px solid #e9e9e9;
	color:#999;
}

.pagination .pages {
	display:none;
}

/* footer */

footer {
	padding:25px;
	height:40px;
	margin-top:-70px;
	position:relative;
	z-index:555;
	color:#aaa;
	text-align:center;
	background-color:#fff;
	text-shadow:1px 1px 0 #fff;
}

footer p {
	margin-left:50px;
	margin-bottom:0;
	font-size:13px;
	text-align:left;
	color: #AAAAAA;
}

footer p.sub-footer {
	color:#aeaeae;
}

footer a {
	color:#E45635;
}

/* back to top */

a.back-to-top {
	width:30px;
	height:30px;
	display:none;
	position:fixed;
	right:20px;
	bottom:20px;
	color:#222;
	font-size:24px;
	line-height:24px;
	text-decoration:none;
	text-align:center;
	z-index:999;
}

/* widgets */

.widget, .menu-main-menu-container {
	padding-right:50px;
	padding-left:50px;
	margin-bottom:50px;
}

#main-menu ul.menu {
	padding:0 0 30px 0;
}

#main-menu ul li {
	padding:24px;
	font-size:18px;
	text-align:center;
	border-bottom:1px solid rgba(0,0,0,0.9);
	box-shadow:0 1px 0 rgba(255,255,255,0.2);
}

#main-menu ul li a {
	color:#fff;
	text-decoration:none;
}

#main-menu h3 {
	text-align:center;
}

#main-menu table {
	width:50%;
	text-align:center;
	background:#1d1d1d;
	margin:0 auto 50px auto;
}

#main-menu th, #main-menu td {
	padding:10px 5px;
	color:#222;
}

#main-menu th {
	background:#3b3b3b;
}

#main-menu tfoot {
	background:#3b3b3b;
}

.widget_meta h3 {
	margin-bottom:0;
}

.widget_categories {
	text-align:center;
}

#main-menu .widget_categories ul li {
	display:inline-block;
	list-style:none;
	border:0 none;
	padding:0;
	box-shadow:0 0 0 #fff;
	margin:0;
}

#main-menu .widget_categories li a {
	display:inline-block;
	padding:5px 15px;
	margin:3px 1px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-decoration:none;
	color:#fff;
	background-color:rgba(255,255,255,0.1);
}

#main-menu .widget_categories li a:hover {
	color:#222 !important;
	background-color:#fff;
}


#searchform, .subscribe {
	margin-bottom:20px;
	padding:0;
}

#searchform div, #search-form div {
	width:100%;
	padding:10px 15px;
	height:55px;
	border:1px solid #424242;
	background-color:#232323;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#searchform label, #search-form label {
	display:none;
}

#searchform input, #search-form input {
	padding:5px 0;
	width:75%;
	height:25px;
	font-size:18px;
	color:#fff;
	border:0 none;
	background-color:#232323;
}

#searchform input::-webkit-input-placeholder, #search-form input::-webkit-input-placeholder { color:#636363; }
#searchform input::-moz-placeholder, #search-form input::-moz-input-placeholder { color:#636363; } /* firefox 19+ */
#searchform input:-ms-input-placeholder, #search-form input:-ms-input-placeholder { color:#636363; } /* ie */
#searchform input:-moz-placeholder, #search-form input:-moz-input-placeholder { color:#636363; }

#searchform #searchsubmit, #search-form .submit {
	padding:5px 0;
	width:20%;
	height:35px;
	float:right;
	font-size:16px;
	color:#fff;
	text-align:center;
	border:0 none;
	background-color:#E45635;
	cursor:pointer;
}


.subscribe h3 {
	padding:10px 15px;
	margin-bottom:0;
	height:35px;
	font-size:24px;
	color:#fff;
	background-color:#232323;
	text-align:left !important;
}


.subscribe div {
	padding:20px;
	background-color:#ffffff;
}

.subscribe p {
	font-size:14px;
	line-height:18px;
	color:#9eb2c0;
	margin-bottom:5px;
}

.subscribe input {
	padding:5px 1%;
	width:76%;
	height:25px;
	font-size:18px;
	color:#636363;
	border:1px solid #dae4eb;
	background-color:#fff;
}

.subscribe input::-webkit-input-placeholder { color:#dae4eb; }
.subscribe input::-moz-placeholder { color:#dae4eb; } /* firefox 19+ */
.subscribe input:-ms-input-placeholder { color:#dae4eb; } /* ie */
.subscribe input:-moz-placeholder { color:#dae4eb; }

.subscribe input.submit {
	padding:5px 0;
	width:20%;
	height:35px;
	float:right;
	font-size:16px;
	color:#fff;
	text-align:center;
	border:0 none;
	background-color:#1b7e5a;
	cursor:pointer;
}

@media (max-width: 480px ) {
	
	.container {
		padding:0 10px;
	}
	
	header, article, .social-links, .contact-form, .comments {
		padding:30px 10px;
	}
	
	.widget, .menu-main-menu-container {
		padding:0 10px;
	}

	#top {
		height:50px;
	}
	
	#top a {
		font-size:26px;
	    line-height: 40px;
	}

	#top a.menu-btn {
	    height: 40px;
	    margin-top: 5px;
	}
	
	#top a.logo span {
	    font-size: 40px;
	}
	
	#main-menu .container {
		padding-top:60px;
	}
	
	#main-menu ul.menu {
		padding-top:0;
	}

	#content {
		padding-top: 50px;
	}
	
	header h1 {
		font-size:100px;
		line-height:110px;
	}
	
	header.title h2 {
		font-size:40px;
		line-height:50px;
	}
	
	.posts article h2 {
		font-size:26px;
		line-height:32px;
	}
	
	.pagination {
		margin: 30px 10px;
	}
	
	.share li {
		padding:0 10px;
	}
	
	.comment-form {
		padding: 25px 0 0 0;
	}
	
	.comments h2 {
		font-size: 26px;
		margin-bottom: 30px;
	}
	
	.comments h2 i {
		display:none !important;
		margin:0 !important;
	}
	
	.comment {
		padding: 0;
		margin-bottom: 10px;
	}
	
	.comment .comment_content {
		padding: 15px;
	}
	
	.comment .comment {
		padding-left:15px;
	}
	
	.comment .comment:last-of-type {
	    margin-bottom: 0;
	}
	
	.comment #respond {
		margin-left: 0;
	}
	
	.comment h3 {
		font-size: 18px;
		line-height: 22px;
	}
	
	.comment h3 span {
		font-size: 12px;
		line-height: 16px;
		margin-left:0;
	}
	
	.comment-form input, .contact-form input {
		width:96.3%;
	}
	
	.comment-form label, .contact-form label {
		display:none;
	}

	.comment-form input.submit, .contact-form input.submit {
		width:auto;
		min-width:100px;
		height:40px;
		background-color:#222;
		color:#fff;
		padding:0 20px;
		border:0 none;
		text-align:center;
		float:inherit;
		cursor:pointer;
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-o-border-radius:0;
		background-image:none !important;
	}
	
	input, textarea, select {
		-webkit-appearance: none;
	}
	
	#searchform input {
		font-size:14px;
		width: 65%;
	}
	
	#searchform #searchsubmit {
		width: 30%;
		font-size: 14px;
	}
	
	a.back-to-top {
		display:none !important;
	}
	
	footer {
		padding-left:10px;
		padding-right:10px;
	}

	footer p {
		margin-left:0;
		text-align:left;
	}
	
}
